.btnadd{
    background-color: rgb(255, 0, 208);
    border-radius: 15px;
    color: white;
    padding: 10px 30px;
    display: flex;
    flex-direction: flex-end;
    margin: 20px auto;
    font-weight: bold;

}
.btnadd:hover{
    background-color: green;
}
table{
    width: 80vw;
    text-align: center;
    background-color: rgb(201, 229, 63);
}

tr{
    width: 100%;

}
td{
    padding: 10px;
    font-weight: bold;

}